body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    text-align: center;
}

#mainHeader
{
    background-color: #333;
    color: white;
}

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.button
{
    width: 50px;
}
.textFld 
{
    width: 250px;
    border-radius: 5px;
    border: 1px solid #8e8e8e;
    font-size: 25px;
    box-sizing: border-box;
    margin: 50px 5px;
}

@media screen and (max-width: 700px) 
{
    .textFld 
    {
        width: 33vw;
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) 
{
    .textFld 
    {
        width: 33vw;
        font-size: 18px;
    }
}
